
.border-white{
    border: white solid 1px !important;
    width: 65px;
    text-align: center;
    color: white;
    border-radius: 10px;
}
.fs-13{
    font-size: 20px;
    font-family: Sherika;
}
.fs-16{
    font-size: 16px;
}
.border-1{
    border: solid #f5f5f5 1px;
}
.bg-black{
    background-color: #000000;
}
body{
    overflow-x: hidden;
}
.fs-10{
    font-size: 12px;
}